<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" href="index.html">BitStamp</a>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span>Ticker</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span>Order Book</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span>Order book Estimator</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span>Transactions</span></a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
    <app-input-selection></app-input-selection>
    <app-chart></app-chart>
    {{currencyPair}}
    
    <app-table [currencyPair] ="selectedCurrencyPair"></app-table> 
    </div>

    <router-outlet></router-outlet>