<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" href="index.html">BitStamp</a>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">        
      <a class="nav-link" routerLink="/ticker" routerLinkActive="active">
        <span>Ticker</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orderbook" routerLinkActive="active">
        <span>Order Book</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orderbookestimator" routerLinkActive="active">
        <span>Order book Estimator</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transactions" routerLinkActive="active">
        <span>Transactions</span></a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
    <app-main-view></app-main-view>
    

    <router-outlet></router-outlet>